---
import { ReactComponent as LogoInstagram } from '@/assets/icons/logo-instagram-outline.svg';
import { ReactComponent as LogoLinkedin } from '@/assets/icons/logo-linkedin-outline.svg';
import { contactInfo } from './Contact.astro';
import { ScrollReveal } from './ScrollReveal';

interface SocialMedia {
  name: string;
  logo: React.FC<React.SVGProps<SVGSVGElement>>;
  logoProps?: React.SVGProps<SVGSVGElement>;
  url: string;
}

interface FooterLink {
  name: string;
  url: string;
}

const socialMedias: SocialMedia[] = [
  {
    name: 'Instagram',
    logo: LogoInstagram,
    logoProps: { width: 20, height: 20, fill: '#94A3B8' },
    url: 'https://www.instagram.com/tenbeltz/',
  },
  {
    name: 'Linkedin',
    logo: LogoLinkedin,
    logoProps: { width: 20, height: 20, fill: '#94A3B8' },
    url: 'https://www.linkedin.com/company/tenbeltz/',
  }
];

const sections: FooterLink[] = [
  { name: 'Inicio', url: '/' },
  { name: 'Enfoque', url: '/#enfoque' },
  { name: 'Método', url: '/#metodo' },
  { name: 'Precios', url: '/precios' },
  { name: 'Preguntas', url: '/#faq' },
  { name: 'Contacto', url: '/#contact-section' },
];
---

<footer class="text-white bg-obsidian-shard">
  <div class="flex flex-col p-4 py-8 mx-auto gap-y-14 lg:p-16 max-w-screen-2xl">
    <div class="flex flex-col flex-wrap xs:flex-row gap-x-20 gap-y-10">
      <ScrollReveal client:load className="flex flex-col gap-y-5">
        <h4 class="font-semibold">Secciones</h4>
        <ul class="flex flex-col gap-y-3">
          {sections.map(section => <li><a href={section.url} class="transition-colors text-slate-300 hover:text-slate-100">{section.name}</a></li>)}
        </ul>
      </ScrollReveal>
      <ScrollReveal client:load delay={200} className="flex flex-col gap-y-5">
        <h4 class="font-semibold">Contacto</h4>
        <ul class="flex flex-col gap-y-3">
          <li><a href={`mailto:${contactInfo.email}`} class="transition-colors text-slate-300 hover:text-slate-100">{contactInfo.email}</a></li>
          {contactInfo.phones.map(phone => <li><a href={`tel:${phone}`} class="transition-colors text-slate-300 hover:text-slate-100">{phone}</a></li>)}
        </ul>
      </ScrollReveal>
    </div>
    
    <ScrollReveal client:load className="flex justify-between py-3 text-sm border-t border-slate-400 text-slate-400">
      <span>
        &copy; 2024 TenBeltz. Todos los derechos reservados.
      </span>
      <span class="flex gap-x-4 [&>a]:hover:cursor-pointer">
        {socialMedias.map(socialMedia => (
          <a href={socialMedia.url} target="_blank">
            <socialMedia.logo {...(socialMedia.logoProps || {})} className='hover:fill-slate-300 transition-colors' />
          </a>
        ))}
      </span>
    </ScrollReveal>
  </div>
</footer>
