---
import Image from "astro/components/Image.astro";
import logo from "../../public/images/svg/logo-tenbeltz-navbar.svg"
import openHamburgerMenu from "../../public/images/svg/bars-3.svg?raw"
import closeHamburgerMenu from "../../public/images/svg/x-mark.svg?raw"

interface NavElement {
  title: string;
  href: string;
}

const navElements: NavElement[] = [
  { title: 'Home', href: '#' },
  { title: 'Services', href: '#' },
  { title: 'About us', href: '#' },
  { title: 'Portfolio', href: '#' },
  { title: 'Partners', href: '#' },
  { title: 'FAQ', href: '#' },
  { title: 'Customers', href: '#' },
]
---

<header class="fixed w-full text-white">
  <div class="flex justify-between px-4 py-5 transition-colors duration-500 bg-obsidian-shard/50 backdrop-blur-lg lg:px-12 lg:py-3">
    <div id="logo-container" class="flex items-center justify-center">
      <a href="/">
        <Image alt="logo" src={logo} />
      </a>
    </div>
  
    <a id="customers-button" href={navElements.find(({ title }) => title === "Customers")?.href} class="hidden px-4 py-2 rounded-md lg:flex bg-pheromone-purple w-fit">Customers</a>
    
    <div id="menu-container" class="flex items-center justify-center lg:hidden">
      <svg id="open-hamburger-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
        <Fragment set:html={openHamburgerMenu} />
      </svg>
    </div>
  </div>

  <div id="navbar-container" class="fixed inset-0 items-center justify-center w-full h-screen px-4 overflow-y-scroll transition-transform duration-500 translate-x-full scrollbar-hidden lg:translate-x-0 lg:px-0 backdrop-blur-lg bg-obsidian-shard/50 lg:backdrop-blur-none lg:w-auto lg:h-auto lg:bg-transparent lg:flex">
    <div class="flex justify-between py-5 lg:hidden">
      <a href="/">
        <Image alt="logo" src={logo} />
      </a>
      <svg id="close-hamburger-menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden size-8">
        <Fragment set:html={closeHamburgerMenu} />
      </svg>
    </div>
    <nav class="py-12 lg:py-0">
      <ul class="flex flex-col text-lg lg:items-center gap-y-2 gap-x-5 lg:flex-row lg:text-base">
        {navElements.map(({ href, title }) => (
          <li>
            <a href={href} class={`whitespace-nowrap block px-2 py-1.5 ${title === 'Customers' ? 'lg:hidden' : ''} ${title === 'Customers' ? 'border-t pt-3.5' : ''}`}>{title}</a>
          </li>
        ))}
      </ul>
    </nav>
  </div>
</header>

<script>
  const navbarContainer = document.getElementById('navbar-container') as HTMLDivElement;
  const logoContainer = document.getElementById('logo-container') as HTMLDivElement;
  const openMenuButton = document.getElementById('open-hamburger-menu') as HTMLElement & SVGElement;
  const closeMenuButton = document.getElementById('close-hamburger-menu') as HTMLElement & SVGElement;
  // const customerButton = document.getElementById('customers-button') as HTMLAnchorElement;
  
  function adjustNavbarLayout(): void {
    const header = document.querySelector("header")?.firstElementChild;

    if (window.innerWidth >= 1024) {
      logoContainer?.parentElement?.insertBefore(navbarContainer, logoContainer.nextSibling);
    } else {
      document.querySelector('header')?.appendChild(navbarContainer);
    }

    if (navbarContainer?.parentElement === document.querySelector('header')) {
      if (!navbarContainer.classList.contains('translate-x-full')) {
        header?.classList.remove('bg-obsidian-shard/50');
      }
    } else {
      header?.classList.add('bg-obsidian-shard/50');
    }
  }

  function debounce(callback: Function, wait: number): (...args: any[]) => void {
    let timeoutId: ReturnType<typeof setTimeout> | null = null;
    return (...args: any[]) => {
      if (timeoutId) clearTimeout(timeoutId);
      timeoutId = window.setTimeout(() => callback(...args) , wait);
    };
  }

  function toggleHamburgerMenu(): void {
    navbarContainer?.classList.toggle('translate-x-full');
    openMenuButton?.classList.toggle('hidden');
    closeMenuButton?.classList.toggle('hidden');
    document.querySelector('header')?.firstElementChild?.classList.toggle('bg-obsidian-shard/50');
  }

  openMenuButton?.addEventListener('click', () => toggleHamburgerMenu());
  closeMenuButton?.addEventListener('click', () => toggleHamburgerMenu());

  const debouncedAdjustNavbarLayout = debounce(adjustNavbarLayout, 50);
  adjustNavbarLayout();
  
  window.addEventListener('resize', debouncedAdjustNavbarLayout);

  window.addEventListener('pagehide', () => {
    openMenuButton.removeEventListener("click", toggleHamburgerMenu);
    closeMenuButton.removeEventListener("click", toggleHamburgerMenu);
    window.removeEventListener("resize", debouncedAdjustNavbarLayout);
  });
</script>