---
import Banner from './Banner.astro';
import ServiceCard from './ServiceCard.astro';
import ContactCTA from './ContactCTA.astro';
import ServiceFeature from './ServiceFeature.astro';

import { Picture } from 'astro:assets';

import { ReactComponent as ProcessOutline } from '@/assets/icons/process-outline.svg';
import { ReactComponent as ChartOutline } from '@/assets/icons/chart-outline.svg';
import { ReactComponent as SecureOutline } from '@/assets/icons/secure-outline.svg';
import { ReactComponent as DocumentsOutline } from '@/assets/icons/documents-outline.svg';
import { ReactComponent as TaskDoneOutline } from '@/assets/icons/task-done-outline.svg';
import { ReactComponent as PackageSearchOutline } from '@/assets/icons/package-search-outline.svg';
import { ReactComponent as ChartLineOutline } from '@/assets/icons/chart-line-outline.svg';
import { ReactComponent as ChatBubbleLeftOutline } from '@/assets/icons/chat-bubble-left-outline.svg';
import { ReactComponent as ExpandOutline } from '@/assets/icons/expand-outline.svg';
import { ReactComponent as ThreeLightOutline } from '@/assets/icons/three-light-outline.svg';
import { ReactComponent as NotificationOutline } from '@/assets/icons/notification-outline.svg';

import TopLeftGradientBackgroundPC from '/public/images/img/top-left-gradient-background-pc.png';
import TopLeftGradientBackgroundMobile from '/public/images/img/top-left-gradient-background-mobile.png';

import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const services = [
  {
    title: t('services.audit.title'),
    subtitle: t('services.audit.subtitle'),
    gridCols: 'lg:grid-cols-5',
    features: [
      { direction: 'down', colSpan: 'lg:col-span-3', title: t('services.audit.features.1.title'), description: t('services.audit.features.1.desc'), icon: ProcessOutline, iconProps: { width: 32, height: 32, fill: '#E5C6F3' } },
      { direction: 'left', colSpan: 'lg:col-span-2', title: t('services.audit.features.2.title'), description: t('services.audit.features.2.desc'), icon: ChartOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3', strokeWidth: 2 } },
      { direction: 'right', colSpan: 'lg:col-span-2', title: t('services.audit.features.3.title'), description: t('services.audit.features.3.desc'), icon: SecureOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3', strokeWidth: 2 } },
      { direction: 'up', colSpan: 'lg:col-span-3', title: t('services.audit.features.4.title'), description: t('services.audit.features.4.desc'), icon: DocumentsOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3', strokeWidth: 2 } },
    ]
  },
  {
    title: t('services.sprint.title'),
    subtitle: t('services.sprint.subtitle'),
    gridCols: 'lg:grid-cols-5',
    features: [
      { direction: 'down', colSpan: 'lg:col-span-3', title: t('services.sprint.features.1.title'), description: t('services.sprint.features.1.desc'), icon: TaskDoneOutline, iconProps: { width: 32, height: 32, fill: 'none', strokeWidth: 2, stroke: '#E5C6F3' } },
      { direction: 'up', colSpan: 'lg:col-span-2', title: t('services.sprint.features.2.title'), description: t('services.sprint.features.2.desc'), icon: PackageSearchOutline, iconProps: { width: 32, height: 32, fill: 'none', strokeWidth: 2, stroke: '#E5C6F3', strokeLinecap: 'round', strokeLinejoin: 'round' } },
      { direction: 'left', colSpan: 'lg:col-span-2', title: t('services.sprint.features.3.title'), description: t('services.sprint.features.3.desc'), icon: ChartLineOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3' } },
      { direction: 'right', colSpan: 'lg:col-span-3', title: t('services.sprint.features.4.title'), description: t('services.sprint.features.4.desc'), icon: ChatBubbleLeftOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3', strokeWidth: 2, strokeLinecap: 'round', strokeLinejoin: 'round' } },
    ]
  },
  {
    title: t('services.production.title'),
    subtitle: t('services.production.subtitle'),
    gridCols: 'lg:grid-cols-5',
    features: [
      { direction: 'down', colSpan: 'lg:col-span-2', title: t('services.production.features.1.title'), description: t('services.production.features.1.desc'), icon: SecureOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3', strokeWidth: 2 } },
      { direction: 'up', colSpan: 'lg:col-span-3', title: t('services.production.features.2.title'), description: t('services.production.features.2.desc'), icon: ChartLineOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3' } },
      { direction: 'left', colSpan: 'lg:col-span-3', title: t('services.production.features.3.title'), description: t('services.production.features.3.desc'), icon: ChartOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3', strokeWidth: 2, strokeLinecap: 'round', strokeLinejoin: 'round' } },
      { direction: 'right', colSpan: 'lg:col-span-2', title: t('services.production.features.4.title'), description: t('services.production.features.4.desc'), icon: ExpandOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3', strokeWidth: 2, strokeLinecap: 'round', strokeLinejoin: 'round' } },
    ]
  },
  {
    title: t('services.optimization.title'),
    subtitle: t('services.optimization.subtitle'),
    gridCols: 'lg:grid-cols-5',
    features: [
      { direction: 'down', colSpan: 'lg:col-span-3', title: t('services.optimization.features.1.title'), description: t('services.optimization.features.1.desc'), icon: ProcessOutline, iconProps: { width: 32, height: 32, fill: '#E5C6F3' } },
      { direction: 'up', colSpan: 'lg:col-span-2', title: t('services.optimization.features.2.title'), description: t('services.optimization.features.2.desc'), icon: ChartOutline, iconProps: { width: 32, height: 32, fill: 'none', strokeWidth: 2, stroke: '#E5C6F3' } },
      { direction: 'left', colSpan: 'lg:col-span-2', title: t('services.optimization.features.3.title'), description: t('services.optimization.features.3.desc'), icon: ThreeLightOutline, iconProps: { width: 32, height: 32, fill: '#E5C6F3', strokeWidth: 1, stroke: '#E5C6F3' } },
      { direction: 'right', colSpan: 'lg:col-span-3', title: t('services.optimization.features.4.title'), description: t('services.optimization.features.4.desc'), icon: NotificationOutline, iconProps: { width: 32, height: 32, fill: 'none', stroke: '#E5C6F3', strokeWidth: 2 } },
    ]
  },
];
---
<div class="text-white">
  <div class="flex flex-col">
    <div class="relative bg-grid">
      <div class="flex flex-col">
        {services.slice(0, 3).map(service => (
          <ServiceCard title={service.title} subtitle={service.subtitle} gridCols={service.gridCols}>
            {service.features.map(feature => (
              <ServiceFeature direction={feature.direction} colSpan={feature.colSpan} title={feature.title} description={feature.description}>
                <feature.icon {...(feature.iconProps as any)} />
              </ServiceFeature>
            ))}
          </ServiceCard>
        ))}
      </div>
      <Picture src={TopLeftGradientBackgroundPC} alt="backgroundGradientPC" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 hidden object-cover w-full -z-50 lg:block" />
      <Picture src={TopLeftGradientBackgroundMobile} alt="backgroundGradientMobile" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 object-cover w-full -z-50 lg:hidden" />
    </div>
    <Banner 
      title={t('services.banner.title')}
      paragraph={t('services.banner.paragraph')}
      buttonText={t('services.banner.button')}
      buttonHref="/#contact-section"
    />
    <div class="bg-grid">
      <div class="flex flex-col">
        {services.slice(3).map(service => (
          <ServiceCard title={service.title} subtitle={service.subtitle} gridCols={service.gridCols}>
            {service.features.map(feature => (
              <ServiceFeature direction={feature.direction} colSpan={feature.colSpan} title={feature.title} description={feature.description}>
                <feature.icon {...(feature.iconProps as any)} />
              </ServiceFeature>
            ))}
          </ServiceCard>
        ))}
      </div>
      <ContactCTA />
    </div>
  </div>
</div>
